@media only screen and (max-width: 1450px) {
    .container {
        margin-top: 10px;
        margin-left: 3%;
        margin-bottom: 2%;
    }
    .svg-map {
        margin: 2% 2% 3% 17%;
        width: 85%;
        height: 100%;
        /* width: 96%;
        height: auto; */
        stroke: rgb(255, 255, 255);
        stroke-width: 1;
        stroke-linecap: round;
        stroke-linejoin: round;
    }
    .examples {
        width: 900px;
        /* margin: 0 auto; */
        font-family: Arial, sans-serif;
        text-align: center;
    }
    .examples__block__info {
        min-height: 187px;
        margin-left: 46%;
    }
    .examples__block__map--australia .svg-map {
        stroke-width: 0.5;
    }
    /* .svg-map {
    } */
    .examples__block__map--usa .svg-map__location--heat_active0 {
        fill: rgb(255, 0, 0);
    }
    .examples__block__map--usa .svg-map__location--heat_active0:hover {
        stroke: yellow;
        fill: yellow;
        stroke-width: 1;
        opacity: 1;
        cursor: pointer;
    }
    .examples__block__map--usa .svg-map__location--heat_active1 {
        fill: rgb(252, 36, 36);
    }
    .examples__block__map--usa .svg-map__location--heat_active1:hover {
        stroke: yellow;
        fill: yellow;
        stroke-width: 1;
        opacity: 0.9;
        cursor: pointer;
    }
    .examples__block__map--usa .svg-map__location--heat_active2 {
        fill: rgb(253, 78, 78);
    }
    .examples__block__map--usa .svg-map__location--heat_active2:hover {
        stroke: yellow;
        fill: yellow;
        stroke-width: 1;
        opacity: 0.8;
        cursor: pointer;
    }
    .examples__block__map--usa .svg-map__location--heat_active3 {
        fill: rgb(250, 103, 103);
    }
    .examples__block__map--usa .svg-map__location--heat_active3:hover {
        stroke: yellow;
        fill: yellow;
        stroke-width: 1;
        opacity: 0.7;
        cursor: pointer;
    }
    .examples__block__map--usa .svg-map__location--heat_active4 {
        fill: rgb(255, 156, 156);
    }
    .examples__block__map--usa .svg-map__location--heat_active4:hover {
        stroke: yellow;
        fill: yellow;
        stroke-width: 1;
        opacity: 0.6;
        cursor: pointer;
    }
    .examples__block__map--usa .svg-map__location--heat_active5 {
        fill: rgb(248, 191, 191);
    }
    .examples__block__map--usa .svg-map__location--heat_active5:hover {
        stroke: yellow;
        fill: yellow;
        stroke-width: 1;
        opacity: 0.5;
        cursor: pointer;
    }
    
    .examples__block__map--usa .svg-map__location--heat_recovered0 {
        fill: rgb(0, 130, 0);
    }
    .examples__block__map--usa .svg-map__location--heat_recovered0:hover {
        stroke: yellow;
        fill: yellow;
        stroke-width: 1;
        opacity: 1;
        cursor: pointer;
    }
    .examples__block__map--usa .svg-map__location--heat_recovered1 {
        fill: rgb(20, 150, 20);
    }
    .examples__block__map--usa .svg-map__location--heat_recovered1:hover {
        stroke: yellow;
        fill: yellow;
        stroke-width: 1;
        opacity: 0.9;
        cursor: pointer;
    }
    .examples__block__map--usa .svg-map__location--heat_recovered2 {
        fill: rgb(40, 170, 40);
    }
    .examples__block__map--usa .svg-map__location--heat_recovered2:hover {
        stroke: yellow;
        fill: yellow;
        stroke-width: 1;
        opacity: 0.8;
        cursor: pointer;
    }
    .examples__block__map--usa .svg-map__location--heat_recovered3 {
        fill: rgb(60, 190, 60);
    }
    .examples__block__map--usa .svg-map__location--heat_recovered3:hover {
        stroke: yellow;
        fill: yellow;
        stroke-width: 1;
        opacity: 0.7;
        cursor: pointer;
    }
    .examples__block__map--usa .svg-map__location--heat_recovered4 {
        fill: rgb(80, 210, 80);
    }
    .examples__block__map--usa .svg-map__location--heat_recovered4:hover {
        stroke: yellow;
        fill: yellow;
        stroke-width: 1;
        opacity: 0.6;
        cursor: pointer;
    }
    .examples__block__map--usa .svg-map__location--heat_recovered5 {
        fill: rgb(100, 230, 100);
    }
    .examples__block__map--usa .svg-map__location--heat_recovered5:hover {
        stroke: yellow;
        fill: yellow;
        stroke-width: 1;
        opacity: 0.5;
        cursor: pointer;
    }
    
    .examples__block__map--usa .svg-map__location--heat_deaths0 {
        fill: rgb(30, 30, 30);
    }
    .examples__block__map--usa .svg-map__location--heat_deaths0:hover {
        stroke: yellow;
        fill: yellow;
        stroke-width: 1;
        opacity: 1;
        cursor: pointer;
    }
    .examples__block__map--usa .svg-map__location--heat_deaths1 {
        fill: rgb(70, 70, 70);
    }
    .examples__block__map--usa .svg-map__location--heat_deaths1:hover {
        stroke: yellow;
        fill: yellow;
        stroke-width: 1;
        opacity: 0.9;
        cursor: pointer;
    }
    .examples__block__map--usa .svg-map__location--heat_deaths2 {
        fill: rgb(110, 110, 110);
    }
    .examples__block__map--usa .svg-map__location--heat_deaths2:hover {
        stroke: yellow;
        fill: yellow;
        stroke-width: 1;
        opacity: 0.8;
        cursor: pointer;
    }
    .examples__block__map--usa .svg-map__location--heat_deaths3 {
        fill: rgb(150, 150, 150);
    }
    .examples__block__map--usa .svg-map__location--heat_deaths3:hover {
        stroke: yellow;
        fill: yellow;
        stroke-width: 1;
        opacity: 0.7;
        cursor: pointer;
    }
    .examples__block__map--usa .svg-map__location--heat_deaths4 {
        fill: rgb(190, 190, 190);
    }
    .examples__block__map--usa .svg-map__location--heat_deaths4:hover {
        stroke: yellow;
        fill: yellow;
        stroke-width: 1;
        opacity: 0.6;
        cursor: pointer;
    }
    .examples__block__map--usa .svg-map__location--heat_deaths5 {
        fill: rgb(230, 230, 230);
    }
    .examples__block__map--usa .svg-map__location--heat_deaths5:hover {
        stroke: yellow;
        fill: yellow;
        stroke-width: 1;
        opacity: 0.5;
        cursor: pointer;
    }
    
    .examples__block__map--usa .svg-map__location--heat_confirmed0 {
        fill: rgb(200, 0, 230);
    }
    .examples__block__map--usa .svg-map__location--heat_confirmed0:hover {
        stroke: yellow;
        fill: yellow;
        stroke-width: 1;
        opacity: 1;
        cursor: pointer;
    }
    .examples__block__map--usa .svg-map__location--heat_confirmed1 {
        fill: rgb(200, 40, 230);
    }
    .examples__block__map--usa .svg-map__location--heat_confirmed1:hover {
        stroke: yellow;
        fill: yellow;
        stroke-width: 1;
        opacity: 0.9;
        cursor: pointer;
    }
    .examples__block__map--usa .svg-map__location--heat_confirmed2 {
        fill: rgb(200, 80, 230);
    }
    .examples__block__map--usa .svg-map__location--heat_confirmed2:hover {
        stroke: yellow;
        fill: yellow;
        stroke-width: 1;
        opacity: 0.8;
        cursor: pointer;
    }
    .examples__block__map--usa .svg-map__location--heat_confirmed3 {
        fill: rgb(200, 120, 230);
    }
    .examples__block__map--usa .svg-map__location--heat_confirmed3:hover {
        stroke: yellow;
        fill: yellow;
        stroke-width: 1;
        opacity: 0.7;
        cursor: pointer;
    }
    .examples__block__map--usa .svg-map__location--heat_confirmed4 {
        fill: rgb(200, 160, 230);
    }
    .examples__block__map--usa .svg-map__location--heat_confirmed4:hover {
        stroke: yellow;
        fill: yellow;
        stroke-width: 1;
        opacity: 0.6;
        cursor: pointer;
    }
    .examples__block__map--usa .svg-map__location--heat_confirmed5 {
        fill: rgb(200, 200, 200);
    }
    .examples__block__map--usa .svg-map__location--heat_confirmed5:hover {
        stroke: yellow;
        fill: yellow;
        stroke-width: 1;
        opacity: 0.5;
        cursor: pointer;
    }
    .examples__block__map {
        display: inline-block;
        width: 500px;
    }
    /* .examples__block__map .svg-map__location--heat_confirmed0:focus, .examples__block__map--usa .svg-map__location--heat_confirmed0:hover, .examples__block__map--usa .svg-map__location--heat_confirmed1:hover, .examples__block__map--usa .svg-map__location--heat_confirmed2:hover, .examples__block__map--usa .svg-map__location--heat_confirmed3:hover, .examples__block__map--usa .svg-map__location--heat_confirmed4:hover, .examples__block__map--usa .svg-map__location--heat_confirmed5:hover {
        opacity: 0.75;
    } */
    .examples__block__map__tooltip {
        position: fixed;
        width: 200px;
        padding: 10px;
        border: 1px solid darkgray;
        background-color: white;
    }
    /* animation styling */
    
    @keyframes spin {
        from {
            transform: rotate(0deg);
            moz-transform: rotate(0deg);
            ms-transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
            moz-transform: rotate(360deg);
            ms-transform: rotate(360deg);
        }
    }
    @-webkit-keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
        }
    }
    .imageSpin {
        animation-name: spin;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: 5s;
        -webkit-animation-name: spin;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-duration: 5s;
    }
    
    /* Symptoms & preventions styling */
    
    .symptoms_img {
        width: 150px;
        height: 150px;
        border: 3px solid lightgray;
        border-radius: 50%;
        margin: 4% 0 0 10%;
    }
    
    .symptoms2_img {
        margin-top: 30%;
        margin-bottom: 20%;
        width: 350px;
        height: 960px;
        border: 3px solid lightgray;
        border-radius: 40px 40px;
    }
    .resp_true {
        display: none;
    }
    
    .img_container {
        margin: 1%;
    }
    
    .detail_container {
        padding: 3% 3% 0 0;
        font-size: 1.2em;
    }
    
    .header_container {
        max-width: 95%;
    }
    
    .header_details {
        padding: 4%;
    }
    
    .symptoms_header5 {
        font-weight: bold;
    }
    
    .symptoms_jumbo {
        width: 350px;
        margin: 10% 6% 15% 0%;
    }
    
    .prevention_img {
        width: 350px;
        height: 310px;
        border: 13px solid white;
        border-radius: 7%;
    }
    
    /* States data cards */
    
    .state_card_container {
        margin-left: 7.8%;
        margin-top: 2%;
    }
    
    .state_confirmed_card {
        max-width: 200px;
        margin: 0 1% 0 5%;
        padding: 0;
        background-color: rgb(245, 210, 253);
    }
    
    .state_confirmed_card div {
        color: rgb(139, 0, 139);
    }
    
    .state_active_card {
        max-width: 200px;
        margin: 0 1% 0 5%;
        padding: 0;
        background-color: rgb(252, 200, 200);
    }
    
    .state_active_card div {
        color: rgb(255, 0, 0);
    }
    
    .state_recovered_card {
        max-width: 200px;
        margin: 0 1% 0 5%;
        padding: 0;
        background-color: rgb(197, 250, 197);
    }
    
    .state_recovered_card div {
        color: rgb(0, 102, 0);
    }
    
    .state_deaths_card {
        max-width: 200px;
        margin: 0 1% 0 5%;
        padding: 0;
        background-color: rgb(221, 221, 221);
    }
    
    .state_deaths_card div {
        color: rgb(64, 74, 66);
    }
    
    /* Dashboard card data */
    
    
    .dashboard_confirmed_card {
        max-width: 124px;
        margin: 0 1% 0 2%;
        padding: 0;
        background-color: rgb(245, 210, 253);
        cursor: pointer;
    }
    
    .dashboard_confirmed_card div {
        color: rgb(139, 0, 139);
    }
    
    .dashboard_active_card {
        max-width: 124px;
        margin: 0 1% 0 1%;
        padding: 0;
        background-color: rgb(252, 200, 200);
        cursor: pointer;
    }
    
    .dashboard_active_card div {
        color: rgb(255, 0, 0);
    }
    
    .dashboard_recovered_card {
        max-width: 124px;
        margin: 0 1% 0 1%;
        padding: 0;
        background-color: rgb(197, 250, 197);
        cursor: pointer;
    }
    
    .dashboard_recovered_card div {
        color: rgb(0, 102, 0);
    }
    
    .dashboard_deaths_card {
        max-width: 124px;
        margin: 0 1% 0 1%;
        padding: 0;
        background-color: rgb(221, 221, 221);
        cursor: pointer;
    }
    
    .dashboard_deaths_card div {
        color: rgb(64, 74, 66);
    }
    
    /* Navbar */
    
    .home_logo {
        color: blue;
        font-size: 20px;
        margin-right: 1%;
        font-weight: bolder;
        cursor: pointer;
        /* border: 4px solid black; */
    }
    
    .backdrop_data {
        background-color: #98fa9a;
        border: 3px solid lightgray;
        margin: 4% 20% 4% 20%;
    }
    
    .checker_iframe {
        border: 0;
        height: 430px;
        width: 60vw;
        min-width: 300px;
        border: 3px solid black;
        margin: 2% 2% 0% 0%;
        background-color: #7aabfa;
    }
    
    /* Footer */
    
    .footer_container {
        background-color: #003366;
        color: white;
        border: 5px solid #003366;
        padding-left: 2%;
    }
    
    .copyright {
        text-align: center;
        color: white;
    }
    
    .hline {
        border-top: 1px solid gray;
    }
    
    .footer_row {
        /* background-color: #003366; */
        color: white;
        padding: 3% 2% 0 2%;
    }
    
    .footer_col {
        padding: 0 0 0 5%;
    }
    
    .footer_ul {
        font-size: 16px;
    }
    
    .footer_arogya_img {
        width: 25px;
        height: 25px;
    }
    
    .footer_arogya_a {
        text-decoration: none;
        color: yellow;
    }
    
    .footer_a {
        text-decoration: none;
        color: white;
    }
    
    .footer_a:hover {
        text-decoration: none;
        color: yellow
    }
    
    .footer_a_who {
        text-decoration: none;
    }
    
    .footer_a_who:hover {
        text-decoration: none;
        color: yellow
    }
    
    .footer_arogya_a:hover {
        text-decoration: none;
        color: yellow;
    }
    
    /* FAQs */
    
    .faqs_container {
        margin: 2%;
    }
    
    .faqs_card {
        margin: 1% 2%;
    }
    
    .faqs_ques {
        padding: 1%;
        font-size: 20px;
        color: blue;
    }
    
    .faqs_svg {
        fill: #000000;
        border: 1px solid lightgray;
        border-radius: 50%;
        margin: 0.2%;
    }
    
    .faqs_svg g {
        mix-blend-mode: normal;
    }
    
    .faqs_ans_container {
        margin: -1% 0% 1% 3%;
    }
    
    .faqs_ans_ul {
        font-size: 18px;
        margin-right: 2%;
        border-radius: 2%;
        padding: 2% 2% 2% 4%;
    }
    
    .faqs_ans_li {
        margin-bottom: -0.1%;
    }
    
    /* States */
    
    .states_radio_daily {
        margin: 2% 0% 3% 20%;
    }
    
    .states_radio {
        margin: 2% 0% 3% 15%;
    }
    
    .states_radio_line {
        margin: 2% 0% 3% 15%;
    }
    /* Loader */
    
    .loader {
        margin: 0 0 0 40%;
    }
    
    /* Graph Dash */
    
    .graph_dash1 {
        margin: 3% 18% 3% 3%;
        padding: 1% 7% 1% 1%;
        min-width: 95%;
        max-width: 200%;
        border-radius: 2%;
    }
    .graph_dash2 {
        display: none;
    }
    .graph_dash3 {
        display: none;
    }
    /* Graph States */
    
    .graph_state1 {
        margin: 1% 2% 8% 15%;
        padding: 1% 3% 1% 1%;
        width: 100%;
        border-radius: 2%;
    }
    
    .graph_state2 {
        display: none;
    }
    /* Table */
    
    table {
        /* border: 1px solid black; */
        /* font: 16px "Open Sans", Helvetica, Arial, sans-serif; */
        /* border: 1px solid gray; */
        border-radius: 5%;
        border-spacing: 0 100px;
        border-collapse: seperated;
        /* box-shadow: 10px 5px rgb(187, 187, 187); */
    }
    thead {
        min-height: 300px;
    }
    tr {
        background-color: rgb(228, 240, 245);
    }
    
    
    th, td {
        border-top: 4px solid rgb(255, 255, 255);
        border-bottom: 4px solid rgb(255, 255, 255);
        padding:4px 6px;
    }
    
    td {
        padding: 0.2em 0.7em;
    }
    
    th {
          border: 4px solid rgb(255, 255, 255);
    }
    thead > tr:last-of-type > th:nth-of-type(1) {
        background-color: rgb(248, 244, 192);
        color: rgb(179, 134, 0);
        border-radius: 20%;
    }
    
    thead > tr:last-of-type > th:nth-of-type(2) {
        min-width: 110px;
        background-color: rgb(245, 210, 253);
        color: rgb(139, 0, 139);
        border-radius: 20%;
    }
      
    thead > tr:last-of-type > th:nth-of-type(3) {
        min-width: 83px;
        background-color: rgb(252, 200, 200);
        color: rgb(255, 0, 0);
        border-radius: 20%;
    }
      
    thead > tr:last-of-type > th:nth-of-type(4) {
        min-width: 111px;
        background-color: rgb(197, 250, 197);
        color: rgb(0, 102, 0);
        border-radius: 20%;
    }
      
    thead > tr:last-of-type > th:nth-of-type(5) {
        min-width: 85px;
        background-color: rgb(198, 202, 197);
        color: rgb(64, 74, 66);
        border-radius: 20%;
    }
    
    tbody > tr:nth-of-type(even) {
        background-color: rgb(247, 241, 241);
    }
    
    article {
        margin: 3% 0% 0% 5%;
    }
    
    .wider {
        height: 50px;
        /* cursor: pointer; */
    }
    
    .dash_tag {
        font-size: 30px;
        margin: 0 0 3% 24vw;
    }
    
    .dash_data {
        max-width: 80rem;
        min-width: 40rem;
        margin: -2% 0 0 12%;
    }
    
    .dash_card {
        min-height: 123px;
    }
    
    .map_ind {
        margin-top: -18.5%;
    }
    
    .map_header3 {
        margin:-4% 0 1% 40%;
    }
    
    .dash_radio_type {
        margin-left: 9%;
        margin-bottom: 2%;
        margin-top: 2%;
    }
    
    .dash_radio {
        margin-left: 5%;
        margin-bottom: 2%;
        margin-top: 2%;
    }
    .dash_radio_line {
        margin-left: 5%;
        margin-bottom: 2%;
        margin-top: 2%;
    }
    
    .table_container {
        margin-left: 2%;
        /* font-size: 1.1rem; */
    }
    
    .table_head {
        cursor: default;
        padding-bottom: 10px;
        padding-top: 10px;
    }
}

@media only screen and (max-width: 991px) {
    .map_ind {
        margin-top: 0;
    }
    .examples__block__info {
        font-size: 1.3rem;
        min-height: 187px;
        margin-left: 0;
        max-width: 100%;
        min-width: 100%;
    }
    .dash_data {
        max-width: 100%;
        min-width: 300px;
        min-height: 230px;
        margin: 0;
    }
    .dashboard_confirmed_card {
        max-width: 21%;
        margin: 2%;
        padding: 0;
        background-color: rgb(245, 210, 253);
        cursor: pointer;
    }
    
    .dashboard_active_card {
        max-width: 21%;
        margin: 2%;
        padding: 0;
        background-color: rgb(252, 200, 200);
        cursor: pointer;
    }
    
    .dashboard_recovered_card {
        max-width: 21%;
        margin: 2%;
        padding: 0;
        background-color: rgb(197, 250, 197);
        cursor: pointer;
    }
    
    .dashboard_deaths_card {
        max-width: 21%;
        margin: 2%;
        padding: 0;
        background-color: rgb(221, 221, 221);
        cursor: pointer;
    }
    
    .graph_dash1 {
        display: none;
    }
    .graph_dash2 {
        margin: 3% 2% 3% 0%;
        /* padding: 1% 7% 1% 1%; */
        display: block;
        min-width: 96%;
        max-width: 80%;
        border-radius: 2%;
    }

    .graph_state1 {
        display: none;
    }
    .graph_state2 {
        margin: 3% 2% 3% 0%;
        /* padding: 1% 7% 1% 1%; */
        display: block;
        min-width: 98%;
        max-width: 80%;
        border-radius: 2%;
    }
    /* Table */

    table {
        /* border: 1px solid black; */
        /* font: 16px "Open Sans", Helvetica, Arial, sans-serif; */
        /* border: 1px solid gray; */
        border-radius: 5%;
        /* box-shadow: 10px 5px rgb(187, 187, 187); */
    }
    thead {
        min-height: 300px;
    }
    tr {
        background-color: rgb(228, 240, 245);
    }


    th, td {
        /* border-top: 4px solid rgb(255, 255, 255); */
        /* border-bottom: 4px solid rgb(255, 255, 255); */
        padding:0.2em 0.2em;
    }

    td {
        padding: 0.2em 0.8em;
    }

    th {
        border: 4px solid rgb(255, 255, 255);
    }
    thead > tr:last-of-type > th:nth-of-type(1) {
        min-width: 150px;
        max-width: 150px;
        width: 150px;
        background-color: rgb(248, 244, 192);
        color: rgb(179, 134, 0);
        border-radius: 16%;
    }

    thead > tr:last-of-type > th:nth-of-type(2) {
        min-width: 75px;
        background-color: rgb(245, 210, 253);
        color: rgb(139, 0, 139);
        border-radius: 16%;
    }
    
    thead > tr:last-of-type > th:nth-of-type(3) {
        min-width: 55px;
        background-color: rgb(252, 200, 200);
        color: rgb(255, 0, 0);
        border-radius: 16%;
    }
    
    thead > tr:last-of-type > th:nth-of-type(4) {
        min-width: 75px;
        background-color: rgb(197, 250, 197);
        color: rgb(0, 102, 0);
        border-radius: 16%;
    }
    
    thead > tr:last-of-type > th:nth-of-type(5) {
        min-width: 56px;
        background-color: rgb(198, 202, 197);
        color: rgb(64, 74, 66);
        border-radius: 16%;
    }

    tbody > tr:nth-of-type(even) {
        background-color: rgb(247, 241, 241);
    }

    .table_container {
        margin-left: 2%;
        font-size: 1.1rem;
    }

    .table_head {
        cursor: default;
        /* padding-bottom: 10px; */
        /* padding-top: 10px; */
    }
    .svg-map {
        margin: 2% 2% 3% 15%;
        width: 98%;
        height: 100%;
    }
    .dash_tag {
        font-size: 30px;
        margin: 0 0 5% 3%;
    }
    
    .dash_radio_type {
        margin: auto;
        margin-bottom: 2%;
        margin-top: 2%;
    }

    .dash_radio {
        margin: auto;
        margin-bottom: 2%;
        margin-top: 2%;
    }
    .dash_radio_line {
        margin: auto;
        margin-bottom: 2%;
        margin-top: 2%;
    }
    
    .states_radio_daily {
        margin-left: 35%;
        margin-bottom: 2%;
        margin-top: 4%;
    }

    .states_radio {
        margin-left: 10%;
        margin-bottom: 2%;
        margin-top: 2%;
    }
    .states_radio_line {
        margin-left: 37%;
        margin-bottom: 4%;
        margin-top: 2%;
    }
    .footer_container {
        margin-top: 6%;
        background-color: #003366;
        color: white;
        border: 5px solid #003366;
        padding-left: 2%;
    }
    .state_confirmed_card {
        max-width: 126px;
        margin: 3%;
        padding: 0;
        background-color: rgb(245, 210, 253);
        cursor: pointer;
    }
    
    .state_active_card {
        max-width: 126px;
        margin: 3%;
        padding: 0;
        background-color: rgb(252, 200, 200);
        cursor: pointer;
    }
    
    .state_recovered_card {
        max-width: 126px;
        margin: 3%;
        padding: 0;
        background-color: rgb(197, 250, 197);
        cursor: pointer;
    }
    
    .state_deaths_card {
        max-width: 126px;
        margin: 3%;
        padding: 0;
        background-color: rgb(221, 221, 221);
        cursor: pointer;
    }
    
    .resp_center {
        text-align: center;
    }

    .resp_false {
        display: none;
    }

    .resp_true {
        display: block;
        margin-top: 8%;
        margin-bottom: 10%;
    }

    .symptoms2_img {
        margin-top: 0%;
        margin-bottom: 0%;
        width: 96%;
        height: 62%;
        border: 3px solid lightgray;
        border-radius: 40px 40px;
    }
    .prevention_img {
        width: 300px;
        height: 280px;
        border: 5px solid white;
        border-radius: 7%;
    }
}

@media only screen and (max-width: 767px) {
    .map_ind {
        margin-top: 0;
    }
    .examples__block__info {
        font-size: 1.3rem;
        min-height: 187px;
        margin-left: 0;
        max-width: 100%;
        min-width: 100%;
    }
    .dash_data {
        max-width: 100%;
        min-width: 300px;
        min-height: 230px;
        margin: 0;
    }
    .dashboard_confirmed_card {
        max-width: 21%;
        margin: 2%;
        padding: 0;
        background-color: rgb(245, 210, 253);
        cursor: pointer;
    }
    
    .dashboard_active_card {
        max-width: 21%;
        margin: 2%;
        padding: 0;
        background-color: rgb(252, 200, 200);
        cursor: pointer;
    }
    
    .dashboard_recovered_card {
        max-width: 21%;
        margin: 2%;
        padding: 0;
        background-color: rgb(197, 250, 197);
        cursor: pointer;
    }
    
    .dashboard_deaths_card {
        max-width: 21%;
        margin: 2%;
        padding: 0;
        background-color: rgb(221, 221, 221);
        cursor: pointer;
    }
    
    .graph_dash1 {
        display: none;
    }
    .graph_dash3 {
        margin: 3% 2% 3% 0%;
        /* padding: 1% 7% 1% 1%; */
        display: block;
        min-width: 100%;
        max-width: 90%;
        border-radius: 2%;
    }
    .graph_dash2 {
        display: none;
    }
    .graph_state1 {
        display: none;
    }
    .graph_state2 {
        margin: 3% 2% 3% 0%;
        /* padding: 1% 7% 1% 1%; */
        display: block;
        min-width: 98%;
        max-width: 80%;
        border-radius: 2%;
    }
    /* Table */

    table {
        /* border: 1px solid black; */
        /* font: 16px "Open Sans", Helvetica, Arial, sans-serif; */
        /* border: 1px solid gray; */
        border-radius: 5%;
        /* box-shadow: 10px 5px rgb(187, 187, 187); */
    }
    thead {
        min-height: 300px;
    }
    tr {
        background-color: rgb(228, 240, 245);
    }


    th, td {
        /* border-top: 4px solid rgb(255, 255, 255); */
        /* border-bottom: 4px solid rgb(255, 255, 255); */
        padding:0.2em 0.2em;
    }

    td {
        padding: 0.2em 0.8em;
    }

    th {
        border: 4px solid rgb(255, 255, 255);
    }
    thead > tr:last-of-type > th:nth-of-type(1) {
        min-width: 150px;
        max-width: 150px;
        width: 150px;
        background-color: rgb(248, 244, 192);
        color: rgb(179, 134, 0);
        border-radius: 16%;
    }

    thead > tr:last-of-type > th:nth-of-type(2) {
        min-width: 75px;
        background-color: rgb(245, 210, 253);
        color: rgb(139, 0, 139);
        border-radius: 16%;
    }
    
    thead > tr:last-of-type > th:nth-of-type(3) {
        min-width: 55px;
        background-color: rgb(252, 200, 200);
        color: rgb(255, 0, 0);
        border-radius: 16%;
    }
    
    thead > tr:last-of-type > th:nth-of-type(4) {
        min-width: 75px;
        background-color: rgb(197, 250, 197);
        color: rgb(0, 102, 0);
        border-radius: 16%;
    }
    
    thead > tr:last-of-type > th:nth-of-type(5) {
        min-width: 56px;
        background-color: rgb(198, 202, 197);
        color: rgb(64, 74, 66);
        border-radius: 16%;
    }

    tbody > tr:nth-of-type(even) {
        background-color: rgb(247, 241, 241);
    }

    .table_container {
        margin-left: 2%;
        font-size: 1.1rem;
    }

    .table_head {
        cursor: default;
        /* padding-bottom: 10px; */
        /* padding-top: 10px; */
    }
    .svg-map {
        margin: 2% 2% 3% 15%;
        width: 98%;
        height: 100%;
    }
    .dash_tag {
        font-size: 30px;
        margin: 0 0 5% 3%;
    }
    
    .dash_radio_type {
        margin: auto;
        margin-bottom: 2%;
        margin-top: 2%;
    }

    .dash_radio {
        margin: auto;
        margin-bottom: 2%;
        margin-top: 2%;
    }
    .dash_radio_line {
        margin: auto;
        margin-bottom: 2%;
        margin-top: 2%;
    }
    
    .states_radio_daily {
        margin-left: 35%;
        margin-bottom: 2%;
        margin-top: 4%;
    }

    .states_radio {
        margin-left: 10%;
        margin-bottom: 2%;
        margin-top: 2%;
    }
    .states_radio_line {
        margin-left: 37%;
        margin-bottom: 4%;
        margin-top: 2%;
    }
    .footer_container {
        margin-top: 6%;
        background-color: #003366;
        color: white;
        border: 5px solid #003366;
        padding-left: 2%;
    }
    .state_confirmed_card {
        max-width: 126px;
        margin: 3%;
        padding: 0;
        background-color: rgb(245, 210, 253);
        cursor: pointer;
    }
    
    .state_active_card {
        max-width: 126px;
        margin: 3%;
        padding: 0;
        background-color: rgb(252, 200, 200);
        cursor: pointer;
    }
    
    .state_recovered_card {
        max-width: 126px;
        margin: 3%;
        padding: 0;
        background-color: rgb(197, 250, 197);
        cursor: pointer;
    }
    
    .state_deaths_card {
        max-width: 126px;
        margin: 3%;
        padding: 0;
        background-color: rgb(221, 221, 221);
        cursor: pointer;
    }
    
    .resp_center {
        text-align: center;
    }

    .resp_false {
        display: none;
    }

    .resp_true {
        display: block;
        margin-top: 8%;
        margin-bottom: 10%;
    }

    .symptoms2_img {
        margin-top: 0%;
        margin-bottom: 0%;
        width: 96%;
        height: 62%;
        border: 3px solid lightgray;
        border-radius: 40px 40px;
    }
    .prevention_img {
        width: 300px;
        height: 280px;
        border: 5px solid white;
        border-radius: 7%;
    }
}

@media only screen and (max-width: 600px) {
    .map_ind {
        margin-top: 0;
    }
    .examples__block__info {
        min-height: 187px;
        margin-left: -4%;
        max-width: 95%;
        min-width: 80%;
    }
    .dash_data {
        max-width: 100%;
        min-width: 300px;
        min-height: 330px;
        margin: 0% 0 0 12%;
    }
    .dashboard_confirmed_card {
        max-width: 126px;
        margin: 3%;
        padding: 0;
        background-color: rgb(245, 210, 253);
        cursor: pointer;
    }
    
    .dashboard_active_card {
        max-width: 126px;
        margin: 3%;
        padding: 0;
        background-color: rgb(252, 200, 200);
        cursor: pointer;
    }
    
    .dashboard_recovered_card {
        max-width: 126px;
        margin: 3%;
        padding: 0;
        background-color: rgb(197, 250, 197);
        cursor: pointer;
    }
    
    .dashboard_deaths_card {
        max-width: 126px;
        margin: 3%;
        padding: 0;
        background-color: rgb(221, 221, 221);
        cursor: pointer;
    }
    
    .graph_dash1 {
        display: none;
    }
    .graph_dash3 {
        display: none;
    }
    .graph_dash2 {
        margin: 3% 2% 3% 0%;
        /* padding: 1% 7% 1% 1%; */
        display: block;
        min-width: 98%;
        max-width: 80%;
        border-radius: 2%;
    }
    .graph_state1 {
        display: none;
    }
    .graph_state2 {
        margin: 3% 2% 3% 0%;
        /* padding: 1% 7% 1% 1%; */
        display: block;
        min-width: 98%;
        max-width: 80%;
        border-radius: 2%;
    }
    /* Table */

    table {
        /* border: 1px solid black; */
        /* font: 16px "Open Sans", Helvetica, Arial, sans-serif; */
        /* border: 1px solid gray; */
        border-radius: 5%;
        /* box-shadow: 10px 5px rgb(187, 187, 187); */
    }
    thead {
        min-height: 300px;
    }
    tr {
        background-color: rgb(228, 240, 245);
    }


    th, td {
        /* border-top: 4px solid rgb(255, 255, 255); */
        /* border-bottom: 4px solid rgb(255, 255, 255); */
        padding:0.2em 0.2em;
    }

    td {
        padding: 0.2em 0.5em;
    }

    th {
        border: 4px solid rgb(255, 255, 255);
    }
    thead > tr:last-of-type > th:nth-of-type(1) {
        min-width: 70px;
        background-color: rgb(248, 244, 192);
        color: rgb(179, 134, 0);
        border-radius: 16%;
    }

    thead > tr:last-of-type > th:nth-of-type(2) {
        min-width: 75px;
        background-color: rgb(245, 210, 253);
        color: rgb(139, 0, 139);
        border-radius: 16%;
    }
    
    thead > tr:last-of-type > th:nth-of-type(3) {
        min-width: 55px;
        background-color: rgb(252, 200, 200);
        color: rgb(255, 0, 0);
        border-radius: 16%;
    }
    
    thead > tr:last-of-type > th:nth-of-type(4) {
        min-width: 75px;
        background-color: rgb(197, 250, 197);
        color: rgb(0, 102, 0);
        border-radius: 16%;
    }
    
    thead > tr:last-of-type > th:nth-of-type(5) {
        min-width: 56px;
        background-color: rgb(198, 202, 197);
        color: rgb(64, 74, 66);
        border-radius: 16%;
    }

    tbody > tr:nth-of-type(even) {
        background-color: rgb(247, 241, 241);
    }

    .table_container {
        margin-left: -2%;
        font-size: 0.75rem;
    }

    .table_head {
        cursor: default;
        /* padding-bottom: 10px; */
        /* padding-top: 10px; */
    }
    .svg-map {
        margin: 2% 2% 3% 5%;
    }
    .dash_tag {
        font-size: 30px;
        margin: 0 0 5% 3%;
    }
    
    .dash_radio_type {
        margin: auto;
        margin-bottom: 2%;
        margin-top: 2%;
    }

    .dash_radio {
        margin: auto;
        margin-bottom: 2%;
        margin-top: 2%;
    }
    .dash_radio_line {
        margin: auto;
        margin-bottom: 2%;
        margin-top: 2%;
    }
    
    .states_radio_daily {
        margin-left: 35%;
        margin-bottom: 2%;
        margin-top: 4%;
    }

    .states_radio {
        margin-left: 10%;
        margin-bottom: 2%;
        margin-top: 2%;
    }
    .states_radio_line {
        margin-left: 37%;
        margin-bottom: 4%;
        margin-top: 2%;
    }
    .footer_container {
        margin-top: 6%;
        background-color: #003366;
        color: white;
        border: 5px solid #003366;
        padding-left: 2%;
    }
    .state_confirmed_card {
        max-width: 126px;
        margin: 3%;
        padding: 0;
        background-color: rgb(245, 210, 253);
        cursor: pointer;
    }
    
    .state_active_card {
        max-width: 126px;
        margin: 3%;
        padding: 0;
        background-color: rgb(252, 200, 200);
        cursor: pointer;
    }
    
    .state_recovered_card {
        max-width: 126px;
        margin: 3%;
        padding: 0;
        background-color: rgb(197, 250, 197);
        cursor: pointer;
    }
    
    .state_deaths_card {
        max-width: 126px;
        margin: 3%;
        padding: 0;
        background-color: rgb(221, 221, 221);
        cursor: pointer;
    }
    
    .resp_center {
        text-align: center;
    }

    .resp_false {
        display: none;
    }

    .resp_true {
        display: block;
        margin-top: 8%;
        margin-bottom: 10%;
    }

    .symptoms2_img {
        margin-top: 0%;
        margin-bottom: 0%;
        width: 96%;
        height: 62%;
        border: 3px solid lightgray;
        border-radius: 40px 40px;
    }
    .prevention_img {
        width: 300px;
        height: 280px;
        border: 5px solid white;
        border-radius: 7%;
    }
}

/* @media only screen and (max-width: 767) {

} */