.container {
    margin-top: 10px;
}
.svg-map {
    width: 100%;
    height: auto;
    stroke: rgb(255, 255, 255);
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.examples {
    width: 900px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    text-align: center;
}
.examples__block {
    max-width: 800px;
    /* opacity: 0.75; */
}
.examples__block__info {
    display: inline-block;
    vertical-align: top;
    width: 450px;
    text-align: left;
}
.examples__block__map--australia .svg-map {
    stroke-width: 0.5;
}
.examples__block__map--usa {
    width: 800px;
}
.examples__block__map--usa .svg-map__location--heat0 {
    fill: rgb(111, 0, 255);
}
.examples__block__map--usa .svg-map__location--heat0:hover {
    stroke: yellow;
    fill: yellow;
    stroke-width: 1;
    opacity: 1;
}
.examples__block__map--usa .svg-map__location--heat1 {
    fill: rgb(111, 0, 255);
}
.examples__block__map--usa .svg-map__location--heat1:hover {
    stroke: yellow;
    fill: yellow;
    stroke-width: 1;
    opacity: 0.9;
}
.examples__block__map--usa .svg-map__location--heat2 {
    fill: rgb(161, 91, 252);
}
.examples__block__map--usa .svg-map__location--heat2:hover {
    stroke: yellow;
    fill: yellow;
    stroke-width: 1;
    opacity: 0.8;
}
.examples__block__map--usa .svg-map__location--heat3 {
    fill: rgb(161, 91, 252);
}
.examples__block__map--usa .svg-map__location--heat3:hover {
    stroke: yellow;
    fill: yellow;
    stroke-width: 1;
    opacity: 0.7;
}
.examples__block__map--usa .svg-map__location--heat4 {
    fill: rgb(199, 156, 255);
}
.examples__block__map--usa .svg-map__location--heat4:hover {
    stroke: yellow;
    fill: yellow;
    stroke-width: 1;
    opacity: 0.6;
}
.examples__block__map--usa .svg-map__location--heat5 {
    fill: rgb(216, 191, 248);
}
.examples__block__map--usa .svg-map__location--heat5:hover {
    stroke: yellow;
    fill: yellow;
    stroke-width: 1;
    opacity: 0.5;
}
.examples__block__info {
    display: inline-block;
    vertical-align: top;
    width: 450px;
    text-align: left;
}
.examples__block__info__item {
    margin-bottom: 20px;
}
.examples__block__map {
    display: inline-block;
    width: 500px;
}
/* .examples__block__map .svg-map__location--heat0:focus, .examples__block__map--usa .svg-map__location--heat0:hover, .examples__block__map--usa .svg-map__location--heat1:hover, .examples__block__map--usa .svg-map__location--heat2:hover, .examples__block__map--usa .svg-map__location--heat3:hover, .examples__block__map--usa .svg-map__location--heat4:hover, .examples__block__map--usa .svg-map__location--heat5:hover {
    opacity: 0.75;
} */
.examples__block__map__tooltip {
    position: fixed;
    width: 200px;
    padding: 10px;
    border: 1px solid darkgray;
    background-color: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
  }
  
  nav {
    height: 10vh;
    background: #5b78c7;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .landing {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .landing h1 {
    margin: 100px;
    font-size: 50px;
    color: #ae5fce;
  }
  
  @media screen and (max-width: 768px) {
    .line {
      width: 30px;
      height: 3px;
      background: white;
      margin: 5px;
    }
    nav {
      position: relative;
    }
  
    .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 12;
    }
  
    .nav-links {
      position: fixed;
      background: #5b78c7;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -16%);
      -webkit-clip-path: circle(100px at 90% -16%);
      transition: all 1s ease-out;
      pointer-events: none;
      z-index: 10
    }
    .open {
      clip-path: circle(1100px at 90% -16%);
      -webkit-clip-path: circle(1100px at 90% -16%);
      pointer-events: all;
    }
    .nav-links li {
      opacity: 1;
    }
    /* .nav-links li a {
      font-size: 25px;
    }
    .nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
    }
    .fade {
      opacity: 1;
    } */
  }