.svg-map {
    width: 100%;
    height: auto;
    stroke: #FFB6C1;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.examples {
    width: 1000px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    text-align: center;
}
.examples__title {
    margin-bottom: 80px;
    padding-bottom: 40px;
    border-bottom: 1px dotted black;
    font-size: 24px;
}
.examples__block {
    margin-bottom: 80px;
    padding-bottom: 80px;
    border-bottom: 1px dotted black;
}
.examples__block__title {
    margin-bottom: 40px;
    font-size: 20px;
}
.examples__block__info {
    display: inline-block;
    vertical-align: top;
    width: 450px;
    text-align: left;
}
.examples__block__info__item {
    margin-bottom: 20px;
}
.examples__block__map {
    display: inline-block;
    width: 500px;
}
.examples__block__map--australia .svg-map {
    stroke-width: 0.5;
}
.examples__block__map--usa {
    width: 800px;
}
.examples__block__map--usa .svg-map__location--heat0 {
    fill: blue;
}
.examples__block__map--usa .svg-map__location--heat1 {
    fill: lightblue;
}
.examples__block__map--usa .svg-map__location--heat2 {
    fill: orange;
}
.examples__block__map--usa .svg-map__location--heat3 {
    fill: red;
}
.examples__block__map--usa .svg-map__location:focus, .examples__block__map--usa .svg-map__location:hover {
    opacity: 0.75;
}
.examples__block__map__tooltip {
    position: fixed;
    width: 200px;
    padding: 10px;
    border: 1px solid darkgray;
    background-color: white;
}
 